<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/perform_login}" method="post"> <!-- Updated action URL -->
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<div>
    <a href="/oauth2/authorization/github">Login with GitHub</a> <!-- Link for OAuth2 login -->
</div>
</body>
</html>
